<html>
<head>
  <title>AngularJS - directive Google Maps</title>
  <script src="https://maps.googleapis.com/maps/api/js"></script>
  <script src="bower_components/angular/angular.js"></script> 
  <script src="app.js"></script> 
  <link rel="stylesheet" href="/app.css"/>
</head>

<body ng-app="app" ng-controller="Ctrl as ctrl">
  
  <div class="repeat" ng-repeat="map in ctrl.maps">
    
    <div gmaps center="map.center" zoom="map.zoom"></div>

    <div class="data">
      <p>
        <label>Latitude</label><input type="number" ng-model = "map.center.lat"/>
      </p>
      <p>
        <label>Longitude</label><input type="number"  ng-model = "map.center.lng"/>
      </p>
      <p>
        <label>Zoom</label><input type="number" ng-model = "map.zoom"/>
      </p>
    </div>
  </div>
  
  

</body>

</html> 
